.size1{
    font-size: 15px;
    color: #9ae60d; 
  }
.size2{
    font-size:15px;
    color:#000;
}
.size3
{
font-size:60px;
color:#ff0000;
}

.font1{
  font-size: 30px;
  color:#ff0000;
}
.font2{
  font-size:16px;
}
.buttontype1{
  color:blue;
}
.blue{
  color:blue;
  font-size:25px;
}
.stupidfont{
font-size:5px;
}
.button02{
  background-color: #ff0000;
  padding: 30px 200px;
  font-size:3em;

}
.title1{
    font-size:25px;
    background-color:#ff0000;
    padding:10px 300px;
}
.button01 {
  background-color: #2f4f4f;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1em;
}
.button03{
background-color:#4169e1;
color:#fff;
padding:10px 30px;
text-decoration:none;
font-size:1em;
}
.button04{
background-color:#0000ff;
color:#fff;
padding:10px 30px;
text-decoration:none;
font-size:5em;
}
.button01:hover {
  color: #fff;
  opacity: 0.8;
}
.button03:hover{
　color:#fff;
 opacity:0.8;
}
.button04:hover{
color:#fff;
opacity:0.8;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}
.bnt,
.btn,
title.btn,
a.btn,
button.btn {
  
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
button.bnt {
  font-size: 0.1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
   
a.btn--red{
  padding: 1rem 5rem;
  color:#000;
  background-color:#008000 ;
  border-buttom: 5px solid #008000;
  font-size: 1.75rem;
  white-space: nowrap;
}
a.btn--red:hover{
  padding: 1rem 5rem;
  margin-top: 4px;
  color: #000;
  background: # 0080000;
  border-bottom: 2px solid #008000;
  font-size: 1.76rem;
}
a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
  font-size: 0.1rem;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: # fff20a;
  border-bottom: 2px solid #ccc100;
  font-size: 0.1rem;
}
